html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,  fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;} html {height:100%;} body {height:100%;line-height:1;} ol, ul {list-style: none;} table {border-collapse:collapse;border-spacing:0;} a {text-decoration:none;} strong {font-weight: bold;}

/* WYŻEJ TO CO ZWYKLE */
/* NIŻEJ TO CO NIEZWYKŁE */

body {
    background-color: white;
    font-family: "Cantarell", sans-serif;
    height:100%;
    text-align: center;
}
.strona {
    height:100%;
    width:100%;
}
.gora {
    background-color: yellow;
    background-image: url(img/nogiorla300.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    color: black;
}
.dol {
    background-color: black;
    color: yellow;
}
.zawartosc {
    display:block;
    /* border:1px solid black; */
    max-width: 700px;
    overflow:hidden;
    position: relative;
}

/* GÓRNA CZĘŚĆ */
.nazwa {
    font-size:5em;
    font-weight: bold;
    height:95px;
    margin-top:40%;
}
.branza {
    font-size:2em;
    height:170px;
}
.przycisk {
    background: black;
    border: none;
    border-radius: 6px;
    color: yellow;
    display: inline-block;
    font-size:1.6em;
    margin-top:5%;
    margin-top:2%;
    padding:10px 15px;
    text-transform: uppercase;
}
/* DÓŁ */
.banner {
    box-sizing: border-box;
    color: yellow;
    display: block;
    font-size: 1.2em;
    line-height: 1.1em;
    margin-top: 15%;
    padding:30px;
}
.dol a {
    border: 0;
}
.dol a:link, .dol a:visited {
    background: black;
    color:yellow;
}
.dol a:hover, .dol a:active {
    background: yellow;
    color: black;
    transition-duration: 0.5s;
}
.under {
    text-decoration: underline;
}
