html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,  fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;} html {height:100%;} body {height:100%;line-height:1;} ol, ul {list-style: none;} table {border-collapse:collapse;border-spacing:0;} a {text-decoration:none;} strong {font-weight: bold;}

/* WYŻEJ TO CO ZWYKLE */
/* NIŻEJ TO CO NIEZWYKŁE */

body {
    background-color: white;
    color: black;
    font-family: sans-serif;
    height:100%;
    text-align: center;
}

/* STRUKTURA */
.srodek {
  display: block;
  background-image: url(img/punkt2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:75%;
  overflow: hidden;
}
.srodek p {
  color: black;
  font-style: italic;
  font-size:18px;
}
.zawartoscsrodka {
  padding:220px 20px 0px;
  max-width:800px;
    margin:0 auto;
}
.znikajace {
    position: relative;
}
.nazwa {
  font-size:80px;
  font-weight: bold;
  height:80px;
  text-shadow: 0 0 15px white;
}
#jsFirma1, #jsFirma2 , #jsFirma3 {
  /* nic */
}
.branza {
  font-size:24px;
  height:100px;
  margin-top:30px;
  text-shadow: 0 0 5px white;
}

.przyciski {
  font-size:24px;
  margin:10px 20px;
  height: 100px;
}
.przyciski div {
  margin:5px 5px;
  font-weight: bold;
}

.dolek {
  background: black;
  color: white;
  display: block;
  font-size:20px;
  height:25%;
  line-height: 1.2em;
}
.zawartoscdolka {
  margin:0 auto;
  padding:20px;
  max-width:800px;
}
a.dochleba {
    color:yellow;
    font-weight: bold;
}
